

<% if (user) { %>

  Welcome <%= user.email %>!
  <!-- logout button -->
  <form action="/logout" method="POST" style="margin:2px;">
      <input type="submit" value="Logout">
  </form>

 <% } else { %>

  <a href="/register">Register</a>&nbsp<a href="/login">Login</a>

<% } %>




