<!DOCTYPE html>
<html lang="en">
<head>
  <title>Make a Tiny URL!</title>
</head>
<body>

<form action="/login" method="POST" style="margin:150px;">
  <label for="username">Enter a username:</label>
  <input id="username" type="text" name="username" placeholder="User" style="width:265px" >
  <input type="submit" value="Submit">
</form>


<!-- <% if (username = null) { %>
  <form action="/login" method="POST" style="margin:150px;">
    <label for="username">Enter a username:</label>
    <input id="username" type="text" name="username" placeholder="User" style="width:265px" >
    <input type="submit" value="Submit">
  </form>
 <% } else { %>
   <h4>Welcome <%= username %>!</h4>
   <form action="/logout" method="POST" style="margin:150px;">
      <input type="logout" value="Logout">
   </form>
<% } %> -->

</body>
</html>