<!DOCTYPE html>
<html lang="en">
<head>
  <title>Make a Tiny URL! It's Fun!</title>
</head>
<body>

<form action="/urls/login" method="POST" style="margin:150px;">
  <label for="userName">Enter a username:</label>
  <input id="userName" type="text" name="userName" placeholder="User" style="width:265px" >
  <input type="submit" value="Submit">
</form>

</body>