

<% if (user) { %>

    <h4>Welcome <%= user.email %>!</h4>
  <!-- logout button -->
  <form action="/logout" method="POST" style="margin:10px;">
      <input type="submit" value="Logout">
  </form>

 <% } else { %>

<a href="/register">Register</a>&nbsp<a href="/login">Login</a>

<% } %>




