<!DOCTYPE html>
<html lang="en">
<% include partials/_header %>

<h1>Login Page</h1>



<form action="/login" method="POST" style="margin:150px;">
    <label for="email">Email</label>
    <input id="email" type="email" name="userEmail" placeholder="email" style="width: 300px"><br>

    <label for="password">Password</label>
    <input id="password" type="password" name="userPassword" placeholder="password" style="width: 300px">

    <input type="submit" value="Submit">
  </form>


</body>
</html>