<!DOCTYPE html>
<html lang="en">

<% include partials/_header %>

<div class="wrapper">
 <h1>Register</h1>
  <form action="/register" method="POST">
    <!-- <label for="email">Email</label> -->
    <input class="textField" id="email" type="email" name="email" placeholder="email"><br>

    <!-- <label for="password">Password</label> -->
    <input class="textField" id="password" type="password" name="password" placeholder="password"> <br>

    <input class="button" type="submit" value="Submit">
  </form>
</div>
</body>
</html>