<!DOCTYPE html>
<html lang="en">
<% include partials/_header %>

<div class="wrapper">
<h1>Your URLs</h1>

   <ul>
    <% for (let url in urls) { %>
      <li>
     <%= url %> &nbsp <i class="fa fa-angle-double-right" aria-hidden="true"></i> &nbsp <%= urls[url].longURL%>&nbsp

     <!-- edit button -->
     <a href="/urls/<%=url%>">Edit</a>

     <!-- delete button -->
     <form  method="POST" action=/urls/<%=url%>/delete>
     <input class="buttonSmall" type="submit" value="Delete"></form></p>
      </li>

    <% } %>
  </ul>

  <a href="/urls/new">Shorten another URL</a>

</div>
</body>
</html>