<!DOCTYPE html>
<html lang="en">
<% include partials/_header %>

<h1>Index Page</h1>

   <ul>
    <% for (let url in urls) { %>
      <li>
     <%= url %> . . . <%= urls[url].longURL%>

     <!-- edit button -->
     <a href="/urls/<%=url%>">Edit</a>

     <!-- delete button -->
     <form style="margin:5px;" method="POST" action=/urls/<%=urls[url].longURL%>/delete>
     <input type="submit" value="Delete"></form>
      </li>

    <% } %>
  </ul>

  <a href="/urls/new">Shorten another URL</a>


</body>
</html>