<!DOCTYPE html>
<html lang="en">
<% include partials/_header %>

<div class="wrapper">
<h1>Make it tiny!</h1>

<% if (user) { %>

  <form action="/urls" method="POST">
    <label for="longURL">Enter a URL:</label><br>
    <input class="textField" id="longURL" type="text" name="longURL" placeholder="http://"><br>
    <input class="button" type="submit" value="Submit">
  </form></p>

  <a href="/urls">See my URLs</a>

 <% } else { %>

  Please <a href="/register">register</a> or <a href="/login">login</a>

<% } %>

</div>
</body>
</html>