aarticle,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*colours
rgb(199, 0, 57) pink-red
rgb(255, 87, 51) red-orange
rgb(255, 195, 0) yellow
rgb(28, 40, 51) slate
rgb(230, 126, 34) orange
rgb(218, 247, 166) mint*/

/*font-family: 'Varela Round', sans-serif;
font-family: 'Libre Franklin', sans-serif;*/


a {
	text-decoration: none;
	color: white;
}

body {
	background: rgb(199, 0, 57);
	margin:20px;
	padding:0;
	height:100%;
  color: white;
  font-family: 'Libre Franklin', "Lucida Sans",Tahoma,sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
}

.wrapper {
    max-width: 1080px;
    width: 30%;
    margin:0 auto;
}


h1 {
	font-family: 'Varela Round', "Lucida Sans",Tahoma,sans-serif;
	font-size: 3rem;
	margin-top: 30px;
	margin-bottom: 100;
	color: white;
}

h2 {
	font-family: 'Varela Round', "Lucida Sans",Tahoma,sans-serif;
	font-weight: normal;
	font-size: 3rem;
	color: white;
	letter-spacing: 0.3rem;
	margin-top: 0;
	margin-bottom: 40px;
}

h3 {
	font-family: 'Varela Round', "Lucida Sans",Tahoma,sans-serif;
	font-size: 3rem;
	margin: 0;
	color: white;
	margin-bottom: 20px;
}

.bodyText {
	font-size: 1.2rem;
	line-height: 1.8rem;
	color: rgb(28, 40, 51);
	font-family: "Titillium Web";
}

.special {
  font-family: 'Varela Round', "Lucida Sans",Tahoma,sans-serif;
  font-weight: normal;
  font-size: 3rem;
  color: #5DD39E;
  letter-spacing: 0.1rem;
  margin-top: 0;
  margin-bottom: 40px;
}

form {
  color: white;
  font-size: 21px;
  font-family: 'Libre Franklin', "Lucida Sans",Tahoma,sans-serif;
  line-height: 24px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  /*background: rgb(218, 247, 166);*/
 /* position: relative;*/
  /*width: 200px;
  height: 200px;*/
  /*padding: 10px;*/
}

.button {
    background-color: #5DD39E; /* sea foam */
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttonSmall {
    background-color: #5DD39E; /* sea foam */
    border: none;
    color: white;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 12px;
}

.textField {
  width: 300px;
  height: 40px;
  padding: 0px;
  margin: 20px 0;
  border: none;
  border-bottom: 4px solid #5DD39E;
  background-color: rgba(255, 255, 255, 0);
  color: #5DD39E;
}

textarea:focus, input:focus {
    color: #5DD39E;
}

input, select, textarea{
    color: #5DD39E;
}

textarea:focus, input:focus {
    color: #5DD39E;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

-webkit-text-fill-color: white !important;

input:-webkit-autofill:hover, input:-webkit-autofill:focus

input::-webkit-input-placeholder {
color: white !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: white !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: white !important;
}

input:-ms-input-placeholder {
color: white !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}




